html {
	margin: 0;
	padding: 0;
	}
	
	

h1,h2,h3,h4,h5,h6{
   
    
    
    color:#A4A400;
    background-color:#F0F0F0;
    font-family: "Lucida Sans Unicode",Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;
}
h1{
    
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

body{
    color:#404040;
    font-size: 11pt;
     font-family: Georgia,Garamond,serif;
    
}
a{
    color:#A4A400;
}

#foto_dati-personali img{
    
    width:240px;
    height:240px;
    margin-left:784px;
    
   text-align:right;
    
    
}
.footer {
  
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
/*modifica 1*/
body{
  
background-image: url("https://i.pinimg.com/564x/d3/72/25/d372250b996b536b492ae6e1ffa0949e.jpg");

width:1024px;
}

/*modifica 4 e 5*/
#Dati-personali  h2,#Competenze_informatiche h2,#esperienze_di_lavoro h2 ,#interessi_personali h2,#links h2  ,h1{
    
    
     display: inline-flex; 
    letter-spacing:0.25em;
      
}
 /*  modifica 5*/
.Profilo  {
 
   
    text-align: center;
   
}
 
h1 {
    display: inline-flex; 
    font-size:22px;
    font-weight: bold;
}
